In [1]:
import tweepy
import pandas as pd
import matplotlib as plt
df = pd.read_csv("LDP EOP DATA.csv")

import numpy as np

# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

from config import consumer_key, consumer_secret, access_token, access_token_secret

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

import spacy
from spacy import displacy
# Load the spaCy model
nlp = spacy.load('en_core_web_sm') #sm does not use vectors
                                   #but md does use vectors

In [2]:
over_sat = df["Q2_1"]
#very great extent 5
len(over_sat)
num = 0
for dummy in over_sat:
    if over_sat[num] == "Very great extent 5":
        over_sat[num] = 5
    if over_sat[num] == 'Some\nextent\n\n3\n':
        over_sat[num] = 3
    if over_sat[num] == "Great\nextent\n4\n":
        over_sat[num] = 4
    num += 1

In [3]:
over_sat

0       Overall Satisfaction\n\n\n\nPlease use the fol...
1                                 {"ImportId":"QID113_1"}
2                                                       4
3                                                       5
4                                                       5
5                                                       5
6                                                       5
7                                                       5
8                                                       5
9                                                       5
10                                                      5
11                                                      5
12                                                      5
13                                                      5
14                                                      5
15                                                      5
16                                                      5
17                                                      5
18                                                      5
19                                                      5
20                                                      5
21                                                      3
22                                                      5
23                                                      5
24                                                      5
25                                                      5
26                                                      4
27                                                      5
28                                                      5
29                                                      5
                              ...
5742                                                    5
5743                                                    5
5744                                                    5
5745                                                    5
5746                                                    4
5747                                                    5
5748                                                    5
5749                                                    5
5750                                                    5
5751                                                    5
5752                                                    4
5753                                                    5
5754                                                    5
5755                                                    5
5756                                                    5
5757                                                    5
5758                                                    5
5759                                                    5
5760                                                    4
5761                                                    4
5762                                                    5
5763                                                    5
5764                                                    4
5765                                                    5
5766                                                    5
5767                                                    5
5768                                                    5
5769                                                    5
5770                                                    5
5771                                                    5
Name: Q2_1, Length: 5772, dtype: object

In [4]:
over_sat
over_sat = pd.DataFrame(data=over_sat)

over_sat = over_sat.drop(over_sat.index[0])
over_sat = over_sat.drop(over_sat.index[0])
over_sat.head

<bound method NDFrame.head of      Q2_1
2       4
3       5
4       5
5       5
6       5
7       5
8       5
9       5
10      5
11      5
12      5
13      5
14      5
15      5
16      5
17      5
18      5
19      5
20      5
21      3
22      5
23      5
24      5
25      5
26      4
27      5
28      5
29      5
30      5
31      4
...   ...
5742    5
5743    5
5744    5
5745    5
5746    4
5747    5
5748    5
5749    5
5750    5
5751    5
5752    4
5753    5
5754    5
5755    5
5756    5
5757    5
5758    5
5759    5
5760    4
5761    4
5762    5
5763    5
5764    4
5765    5
5766    5
5767    5
5768    5
5769    5
5770    5
5771    5

[5770 rows x 1 columns]>

In [5]:
over_sat.head()
dats = np.arange(2,5772)

In [6]:
over_sat.plot.scatter(dats,"Q2_1")

SyntaxError: invalid syntax (<ipython-input-6-db924ce9a219>, line 1)

In [ ]:
over_sat.plot(kind='scatter', x=dats, y='Q2_1')

In [ ]:
string = df["Q4"][21]
string

In [ ]:
# Run analysis
results = analyzer.polarity_scores(string)
results

In [ ]:
compound = results["compound"]
pos = results["pos"]
neu = results["neu"]
neg = results["neg"]

In [ ]:
doc2 = nlp(string)

        # Add a title to the document
doc2.user_data['title'] = 'Tweet Snippet'

        # Render the visualization
displacy.render(doc2, style='ent', jupyter=True)